<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&effect=neon">
<main id="root">you messed up, dont panic tho</main>