.main-show-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    // background-color: rgb(30, 30, 30);
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.business-show-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    /* box-sizing: border-box; */
    // background-color: rgb(30, 30, 30);
    color: rgb(57, 57, 57);
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
    .sp-middle{
        /* background-color: grey; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
        .sp-middle h1 {
            font-size: 42px;
            font-weight: 700;
            margin: 5px;
            margin-left: 20vw;
            font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
        }
        .sp-stars {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-left: 20vw;
            font-size: 18px;
            font-weight: 400;
        }
        .sp-hours {
            margin-left: 20vw;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 10px;
        }
    
    .sp-column-spliter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly
    }

    .sp-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: grey;
        // border: 1px solid rgb(47, 47, 47);
        height: 100%;
        width: 60vw;

    }
        .business-show-reviews {
            color: rgb(53, 53, 53);
            font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            width: 70%;
        }

    .sp-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: sticky;
        top: 11vh;
        right: 10vw;
        height: 83vh;
        width: 30%;
        // padding: 10px;
        // background-color: grey;
        flex-direction: column;
        font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        // border-bottom: 1px solid rgb(47, 47, 47);
    }
        .sp-right-buttons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            margin-right: 2vw;
            width: 100%;
            font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
        }
        .review-buttons, .review-buttons:link, .review-buttons:active, .review-buttons:visited{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 5px;
            background-color: #d32322;
            color: white;
            font-size: 18px;
            border-radius: 5px;
            width: 10vw;
            height: 4vh;
            text-decoration: none;
            margin-bottom: 2vh;
            margin-left: 2vw;
            margin-right: 2vw;


        }
        
        .bookmark-business {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: #cacaca;
            font-size: 18px;
            border-radius: 5px;
            width: 3vw;
            height: 4vh;
            text-decoration: none;
            margin-bottom: 2vh;
        }

        .sp-contact-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            border: 1px solid #cacaca;
            border-radius: 3px;
            padding: .65vw;
        }
        .sp-website {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            // padding: 1vw;
            font-size: 14px;
            font-weight: 400;
            border-bottom: 1px solid #cacaca;
            padding: .5vw 0 .5vw 0;

        }

        .sp-call {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            // padding: 1vw;
            font-size: 14px;
            font-weight: 400;

            border-bottom: 1px solid #cacaca;

            padding: .5vw 0 .5vw 0;

        }

        .sp-address-directions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            padding: .5vw 0 .5vw 0;
            font-size: 14px;
            font-weight: 400;
            // border-bottom: 1px solid rgb(47, 47, 47);
        }


        



        .bs-google-map {
            margin-top: 2vh;
            justify-content: center;
            width: 105%;
            height: 80vh;
        }

