.main-show-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: rgb(30, 30, 30);
}

.sp-nav {
    background-color: rgb(30, 30, 30);
    /* width: 100vw;
    height: 100vh;
    box-sizing: border-box; */
}

.business-show-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.business-show-container {

}

.sp-middle{

}

.sp-left{

}

.sp-column-spliter {

}

.sp-right {

}

