.index-main-container {
    background-color: white;
    height: 99vh;
    width: 100vw;
    z-index: -100;
    // display: flex;
}

.index-columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: center;
    width: 99vw;
    // height: 92vh;
    // align-content: space-between; 
    // margin-bottom: 15vh;
    margin-top: 9vh;
    // border-top: 1px solid #ebebeb;

}

.index-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 85%;
    width: 36%;
    background-color: white;
    color: rgb(85, 85, 85);
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
    border-top: 1px solid #ebebeb;
    // padding-left: 9vw;
    // padding-bottom: 30vh;

    // letter-spacing: -0.4px;
    // overflow: scroll;
}
    .index-left h1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 7.2vh;
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        padding-top: 1.8vh;
        padding-bottom: 1.8vh;
        background-color: white;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
    }
    .business-show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        // margin-top: 10px;
        // margin-bottom: 30px;
        // border: 1px solid white;
        // margin-bottom: 2vh;
        padding: 2vh 2.8vh 2vh 2.8vh;
        margin-top: 1vh;
        // border-top: 1.5px solid rgb(226, 226, 226);
        border-bottom: 1.5px solid #ebebeb;
    }

    .business-show:hover {
        // border: 1px solid #ebebeb;
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
        transition: all .4s ease-in
    }

    .businesses-index {
        color: rgb(85, 85, 85);
        font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
                .link-business-index:link {
            text-decoration: none;
            color: rgb(85, 85, 85);
        }
    
                .link-business-index:visited {
            text-decoration: none;
            color: rgb(85, 85, 85);
        }
    
                .link-business-index:hover {
            text-decoration: none;
            color: rgb(85, 85, 85);
        }
    
                .link-business-index:active {
            text-decoration: none;
            color: rgb(85, 85, 85);
        }
    
    .business-index-photo{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 20vw; 
       height: 35vh;; 
       object-fit: cover; 
       object-position: 100% 0;
       border-radius: 6px;
    }
    .business-index-text-star {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .business-index-text-star p{
    margin-bottom: .5vh;
    }

        .business-index-name {
            font-size: 18px;
            font-weight: bold;
            color: rgb(85, 85, 85);
            padding-bottom: .5vh;
        }
        .business-hours {
            color: green;
            font-weight: bold;
            font-size: 16;
        }
        .business-index-hours {
            color: rgb(85, 85, 85);
        }

.index-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    // right: 8vw;
    top: 7.2vh;
    height: 88vh;
    width: 64%;
    background-color: rgb(201, 201, 201);
    z-index: 0;
    border-radius: 0px;
}
    .google-map {
        display: flex;
        background-color: rgb(201, 201, 201);
        color: #ffffff;
        font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 100;
        width: 100%;
        height: 100%;
        z-index: 0;
        // letter-spacing: -0.4px;
            z-index: 3;
        // position: absolute;
        touch-action: pan-x pan-y;
        border-radius: 0px;
        box-shadow: 0 0 30px rgba(0,0,0,0.9) inset;

    }

    .bottom-white-cover {
        height: 2vh;
        width: 100%;
        background-color: white;
        display: flex;
        position: fixed;
        bottom: 0;
    }