.main-show-page-container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.sp-nav {
    background-color: rgb(30, 30, 30);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.business-sp-info {
    display: flex;
    background-color: black;
    color: white;
}