.main-show-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: rgb(30, 30, 30);
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sp-nav {
    background-color: rgb(30, 30, 30);
    /* width: 100vw;
    height: 100vh;
    box-sizing: border-box; */
}

.business-show-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.business-show-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    /* box-sizing: border-box; */
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
    .sp-middle{
        background-color: grey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .sp-column-spliter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly
    }

    .sp-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: grey;
        height: 100%;
        width: 60vw;

    }
        .business-show-reviews {
            color: white;
            font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

    .sp-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: 100%;
        padding: 10px;
        background-color: grey;
        flex-direction: column;
        font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
        .bs-google-map {
            justify-content: center;
            width: 25vw;
            height: 400px;
        }

