.index-main-container {
    background-color: rgb(30, 30, 30);
    height: 99vh;
    width: 100vw;
    z-index: -100;
    // display: flex;
}

.index-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
    margin: 0;
    align-content: space-between; 
}

.index-left {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 85%;
    width: 30%;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
    // letter-spacing: -0.4px;
    overflow: scroll;
}
    .business-show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
        // border: 1px solid white;
        padding: 2vh;

    }
    .business-index {
        color: white;
        font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px;
    }
                .link-business-index:link {
            text-decoration: none;
            color: white;
        }
    
                .link-business-index:visited {
            text-decoration: none;
            color: white;
        }
    
                .link-business-index:hover {
            text-decoration: none;
            color: white;
        }
    
                .link-business-index:active {
            text-decoration: none;
            color: white;
        }

    .business-index-photo{
       display: flex;
       height: 30vh;
       width: auto;
       justify-content: center;
       align-items: center;
    }

.index-right {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 60%;
    background-color: rgb(201, 201, 201);
    border-radius: 8px;
}
    .google-map {
        display: flex;
        background-color: rgb(201, 201, 201);
        color: white;
        font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 100;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        // letter-spacing: -0.4px;
    }

