.carousel-container {
margin-top: 6vh;
}

.carousel {

}

.prev-img {

}

.next-img {

}

.carousel-image-container{

}

.carousel-image {
  width: 92vw;
  height: 80vh;
  object-fit: cover; 
  object-position: 50% 50%;
}