.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 20%;
    width: 100%;
    color: rgb(30, 30, 30);
    font-family: Helvetica, sans-serif;
    font-weight: 150;
    font-size: 12px;
    padding-top: 4vh;
    padding-bottom: 3vh;

}

.footer-splitter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100px;
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    padding-bottom: 1vh;
  }
  .footer-splitter h1 {
    font-size: 12px;
    font-weight: 550;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
  }
  .footer-splitter p {
    font-weight: 150;
    font-size: 11px;
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
  }

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 150;
    font-size: 11px;
}

