.session-submit {
    display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
    webkit-text-decoration: none;
        text-decoration: none;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        cursor: pointer;
        height: 40px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        -webkit-transition-property: background-image, background-color, background-position, background-size, border-color, box-shadow, opacity;
        transition-property: background-image, background-color, background-position, background-size, border-color, box-shadow, opacity;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        width: auto;
        background-color: rgba(224, 7, 7, 1);
        color: rgba(255, 255, 255, 1);
        background-position: calc(var(--mousedown-x) - calc(var(--button-width, 100px) * 200) / 2) calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200) / 2);
        background-size: calc(var(--button-width, 100px) * 200) calc(var(--button-width, 100px) * 200);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    display: flex;
    background-color:rgba(224, 7, 7, 1);
    font-size: 100px;
    color: white;
    align-items: center;
}

.session-submit :hover {
    background-color: blue;
    color: black;

}