.navs {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.in-session-nav {
    display: flex;
    background-color: transparent;
    padding: 7px 40px 7px;
    pointer-events: auto;
    justify-content: space-around;
    vertical-align: center;
    align-items: center;
}

.no-session-nav {
    display: flex;
    background-color: transparent;
    padding: 11px 26px 11px;
    pointer-events: auto;
    justify-content: space-around;
    vertical-align: center;
    align-items: center;

}

.logo {
    width: 100px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    clip: rect(10px, 0px, 0px, 0px);
    filter: grayscale(100%);
}

.logo:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .2s ease-in
}

.nav-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding-left: 250px;
    padding-right: 250px;
    
}


.personal-link {
    height: 30px;
    width: auto;
    margin: 0 5px 0 5px;
    filter: invert(50%);
}
.personal-link:hover {
    cursor: pointer;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: all .4s ease-in
}

// .dropbtn {
//     cursor: pointer;
//     border: none;
//     outline: none;
//     padding: 5px;
//     width: 30px;
//     height: 30px;
//     border-radius: 50px;
// }






.nav-right {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 18px;
}





.splash-button-login {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    // text-shadow: .5px .5px 0px #262626;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(165, 165, 165);
    background-image: none;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    height: 24px;
    min-width: 50px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    border: 1px solid rgb(165, 165, 165);
}

.splash-button-signup {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    // text-shadow: .5px .5px 0px #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    // color: rgb(165, 165, 165);
    color: white;
    background-image: none;
    background-color: #c41200;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    height: 24px;
    min-width: 60px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    // border: 1px solid rgb(165, 165, 165);
}


.splash-button-login:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.444);
    color: white;
    transition: all .4s ease-in
}

.splash-button-signup:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.444);
    color: white;
    transition: all .4s ease-in
}

.show {
    display: block;
}


 /* rgba(224, 7, 7, 1) */