
.in-session-nav {
    display: flex;
    background-color: transparent;
    padding: 26px 40px 0;
    pointer-events: auto;
    justify-content: space-around;
    vertical-align: center;
    align-items: center;
}

.no-session-nav {
    display: flex;
    background-color: transparent;
    padding: 26px 26px 0;
    pointer-events: auto;
    justify-content: space-around;
    vertical-align: center;
    align-items: center;
}

.logo {
    width: 135px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.logo:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .2s ease-in
}

.nav-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    
}
.search-input {
    background-color: white;
    width: 300px;
    min-width: 250px;
    height: 24px;
    padding: 10px;
    border-radius: 4px 0 0 4px ;
    border: 1px solid #ebebeb;
    font-family: Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 100;
    
}

.search-button {
    padding-top: 13.5px;
    padding-bottom: 17px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-shadow: .5px .5px .5px #505050;
    color: white;
    background-color: rgb(247, 247, 247);
    border: none;
    width: 58px;
    border-radius: 0 4px 4px 0;
    
}

.search-button:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    transition: all .55s ease-in
}

.personal-link {
    height: 40px;
    width: auto;
    margin: 0 5px 0 5px;
}
.personal-link:hover {
    cursor: pointer;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: all .4s ease-in
}



.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    margin: 0;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px;
}

.dropbtn:hover {
    background-color: rgb(243, 243, 243);
    filter: drop-shadow(0 0 1px rgb(234, 234, 234));
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 100;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 18px #00000026;
    padding: 16px;
    
}




.nav-right {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 18px;
    /* margin-left: 16px; */
    /* white-space: nowrap; */
}





.splash-button-login {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-shadow: .5px .5px 0px #262626;    
    vertical-align: center;
    text-decoration: none;
    color: white;
    background-image: none;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    height: 24px;
    padding-bottom: 5.8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11.8px;
    border: 1.5px solid rgb(222, 222, 222);
}

.splash-button-signup {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-shadow: .5px .5px 0px #262626;
    vertical-align: center;
    text-decoration: none;
    color: white;
    background-image: none;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    height: 24px;
    padding-bottom: 5.8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11.8px;
    border: 1.5px solid rgb(222, 222, 222);
}


.splash-button-login:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.444);
    transition: all .4s ease-in
}

.splash-button-signup:hover {
    cursor: pointer;
    background-color: rgba(224, 7, 7, 0.611);
    transition: all .4s ease-in
}

.show {
    display: block;
}


 /* rgba(224, 7, 7, 1) */