.review-form-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: rgb(30, 30, 30);
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.review-form-spliter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
}