.splash-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.splash-main .sp-nav {
    // box-sizing: border-box;
    // z-index: 1;
    // position: absolute
}

.img-with-text {
    // box-sizing: border-box;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    // z-index: 0;
}
    .img-with-text > * {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

.splash-background-image {
    height: auto;
    width: 100%;
}


.bg-text {
    cursor: default;
    // display: flex;
    flex-direction: column;
    // justify-content: center;
    // vertical-align: center;
    // padding: 12px 0;
    // margin-top: 40px;
}

.bg-text-1 {
    text-align: center;
    color: white;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -0.4px;
    /* margin-left: 200px; */
    // margin-top: 200px;
    filter: drop-shadow(0 0 0.05rem rgb(226, 226, 226));
}
    .bg-text-1:hover {
        text-shadow: 0 0 100px rgba(255, 255, 255, 0.538), 0 0 3px #fff2d28f;
    }
.bg-text-2 {
    text-align: center;
    color: white;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 350;
    letter-spacing: -0.4px;
    padding-bottom: 4vh;
    filter: drop-shadow(0 0 0.05rem rgb(226, 226, 226));
}
    .bg-text-2:hover {
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.538), 0 0 3px #fff2d28f;
    } 
/* --------business css -----------*/
.business-splash-container-title {
    width: 100%;
    height: 50px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    // font-family: Lato;
    padding-top: 2vh;
    font-size: 36px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    .business-splash-container-title:hover {
        text-shadow: 0 0 30px rgba(30, 30, 30, 0.377), 0 0 2px #1d1d1d;
        transition: all .5s ease-in
    }
}

.business-filler {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
    .business-container {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        gap: 30px;
    }
        .business-container:hover .business-splash-photo:hover{
                transform: scale(1.005);
                filter: blur(0px);
                border-radius: 0px;
                box-shadow: 0 5px 15px 5px rgba(255, 255, 255, 0.125);
        }
        .business-container:hover .business-splash-photo {
            filter: blur(.8px);
            // transform: scale(.98);
            box-shadow: none;
            transition: all .25s ease-in
        }
    .splash-business-container {
        display: block;
        height: 174px;
        width: 229px;
        height: 365px;
        box-sizing: border-box;
        color: rgb(30, 30, 30);
        border: 1px solid #ebebeb;
        border-radius: 3px;
        margin: 10px;
        margin-top: 20px;
        z-index: 2;
        text-align: center;
        padding-top: 5px;
        text-decoration: none;
        font-family: Helvetica, sans-serif;
        font-weight: 150;
    }
    .business-splash-title {   
        margin: 5px;
        width: 100%;
        box-sizing: border-box;
        height: 20px;
        font-family: Helvetica, sans-serif;
        font-weight: 200;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .business-splash-photo {
        margin-top: -4px;
        width: 225px;
        height: 290px;
        background-position: 75px;
        border-radius: 2px;
        border-bottom: 1px solid #ebebeb;
        /* background-position: -20px; */
    }
.business-index-link {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #a0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-top: .5vh;
    padding-bottom: 3.5vh;     
    :visited {
        color: #a0a0a0;
        text-decoration: none;
    }
    :hover {
        color: #515151;
        text-decoration: none;
    }

}

.splash-footer {
}
